body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family:Arial, Helvetica, sans-serif;
	background:#E6E6E6;
	color:#666;}

/*Fonts*/
a {
	font-size:12px;
	color:#666;
	}
a:link{
	color:#999999;
	text-decoration:none;
	}
a:visited{
	color:#999999;
	text-decoration:none;
	}
h1 { 
	font-size:20px;
	font-weight:bold;
	color:#333;
	}
h2 { 
	font-size:24px;
	font-weight:bold;
	color:#222;
	margin:0px;
	}
h3 {
	font-size:14px;
	font-weight:bold;
	color:#333;
	}
/*Fonts END*/

#header {
	background:#222222;
	height:100px;
	border-bottom:solid 1px #333333;
	}

#toprow {
	height:372px;
	border-top:solid 1px #1d1d1d;
	background: #FFFFFF url(/resource/images/bg.gif) repeat-x;
	}
#toprowsub {
	height:70px;
	border-bottom:solid 1px #ccc;background: #FFFFFF url(images/bg2.gif) repeat-x;
	}
#toprowsub h2{
	padding:15px 30px;
	}
#midrow {
	width:960px;
	margin:0 auto;
	}
#bottomrow {
	width:960px;
	margin:0 auto;
	}

/*LOGO*/
#logo{
	width:207px;
	float:left;
	}
#logo a{
	background:url(/resource/images/logo.png) no-repeat;
	background-size: 200px; display:block; 
	position: relative;
	width:200px;
	height:200px;
	text-indent:-10000px;
	}
/*LOGO END*/

/*Menu Begin*/
#menu{
	float:right;
	margin-top:30px;
	}
#menu ul li{
	display:inline;
	list-style-type:none;
	}
#menu ul li a{
	padding:5px 0px;
	font-size:14px;
	text-decoration:none;
	margin:0px 10px; 
	font-weight:bold;
	}
#menu ul li a span{
	font-size:14px; 
	text-decoration:none; 
	padding:0px 10px;
	color:#999999;
	}
#menu ul li a.active{
	background:url(/resource/images/menur.gif) no-repeat right;
	}
#menu ul li a.active span{
	background:url(/resource/images/menul.gif) no-repeat left;
	padding:5px 10px;
	color:#333;
	}
#menu ul li a:hover{
	background:url(/resource/images/menur.gif) no-repeat right;
	font-weight:bold;
	}
#menu ul li a:hover span{
	background:url(resource/images/menul.gif) no-repeat left;
	padding:5px 10px;
	color:#333;
	}
/*Menu End*/

.center{width:960px;margin:0 auto;}

/*SlideShow Begin*/
#cu3er-container {margin-top:60px;padding-left:0px;padding-right:0px;width:960px;}
#cubershadow{width:960px;height:372px;background:url(/resource/images/shadow.jpg) no-repeat bottom;}
/*SlideShow End*/

/*Homepage Boxs*/
#container {float:left;}
.box {margin-top:20px;padding-top:10px;width:310px;height:auto;float:left;background:url(/resource/images/border.jpg) no-repeat bottom right;}
.box h1{padding-left:10px;}
.box p {margin:0px;width:200px;padding:15px 5px 10px 5px;float:left;}
.last{background:none;}

a.plan{float:left;display:block;width:83px;height:101px;background:url(/resource/images/plan.jpg)  no-repeat 0px -101px;text-indent:-1000px;}
a.plan:hover{ background-position: 0px 1px;}
a.whyus{margin-top:10px;float:left;display:block;width:83px;height:87px; background:url(/resource/images/whyus.jpg) no-repeat 0px 0px;text-indent:-1000px;}
a.whyus:hover{ background-position: 0px -88px;}
a.support{margin-top:14px;float:left;display:block;width:83px;height:72px;background:url(/resource/images/support.jpg) no-repeat 0px 0px;text-indent:-1000px;}
a.support:hover{ background-position: 0px -70px;}

a.button{background:url(/resource/images/buttonr.gif) no-repeat right; padding:3px 0px; margin-left:2px; color:#CCCCCC; text-decoration:none; }
.button span{background:url(/resource/images/buttonl.gif) no-repeat left; padding:3px 5px;}
/*Homepage Boxs END*/

/*Subpage Boxs*/
#box2holder{padding: 20px 30px;}
.box2{width:450px; float:left; padding:20px 0px;}
.box2 img{ border: solid 5px #F2F2F2; float:left;}
.box2 h3{margin:0px; padding:0px 5px; float:left;}
.box2 p{width:220px; float:left;padding:5px 5px; margin:0px;}
/*Subpage Boxs END*/


/*Footer*/
#footer {background:#222222;float:left;width:100%;height:50px;border-top:solid 1px #333333;}
.foot{width:960px;margin:0 auto; padding:10px 0px; font-size:12px;}
.foot a:link{color:#999;text-decoration:none;}
/*Footer END*/


.textbox{float:left;padding:50px 0px;width:700px;}
.textbox2{padding:10px 30px; background:url(/resource/images/textbox2bg.gif) repeat-x;}
.feed{width:auto; float:left;}
.feed img{ border: solid 0px; margin-top:120px; padding:0px 7px;}

/*-----------SLIDER--------------*/
*								{ margin: 0; padding: 0; }
body							{ font-family: "Lucida Grande", Arial, Sans-Serif; }

a								{ text-decoration: none; outline: none; }
a img							{ border: none; }


#page-wrap						{ width: 760px; margin: 0 auto; 
								  padding: 50px 0; }

#slider							{ background: white url(/resource/images/slider_img/bg_color.gif); height: 227px; overflow: hidden;
								  position: relative; margin: 50px 0; }
.btnclass						{background:url(/resource/images/menur.gif) no-repeat left; padding:5px 10px;color:black;}
                                		  
#mover							{ width: 2880px; position: relative; }

.slide							{ padding: 40px 30px; width: 900px; float: left; position: relative; }
.slide h1						{ font-family: Helvetica, Sans-Serif; font-size: 30px; letter-spacing: -1px;
								  color: #ac0000; }
.slide p						{ color: #999; font-size: 12px; line-height: 22px; width: 300px; }
.slide img						{ position: absolute; top: 20px; left: 400px; }
#slider-stopper					{ position: absolute; top: 1px; right: 20px; background: #ac0000; color: white;
								  padding: 3px 8px; font-size: 10px; text-transform: uppercase; z-index: 1000; }
/*-----------END_SLIDER----------*/
.logreg_container{
	position:relative;
	left: 300px;
	margin: 0;
}

.logreg_container input{
	width:200px;
	height: 20px;
	margin-top: 3px;
}
.logreg_container button{
	width: 100px;
	height: 25px;
	font-weight: bold;	
	background: url(/resource/images/menur.gif);
}
	

.user{	
	float: right;
}

.profile{
	background:url(/resource/images/minibar.png);
}
.user img { 
  float: left; 
  width: 32px; 
  height: 32px; 
  margin-right: 8px; 
} 

.user h5{
	//visibility: hidden;
	float: right;
	
}


logcolor {
	color:#ac0000;
	font-size: 15px;
	font-weight: bold;
}

/*_____________________________*/
.navigation {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
	background: rgb(33,33,33);
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;  
}

.navigation li {
  float: left;
}

.navigation li:hover {
  background: #222;
}

.navigation li:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 0 0 5px;
}

.navigation li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  line-height: 20px;
  color: #fff;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  float: none;
}

.navigation li:hover > ul {
  display: block;
  background: #222;
  border: solid 3px #fff;
  border-top: 0;
  
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  
  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.navigation li:hover > ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.navigation li li a:hover {
  background: #000;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}



